---

---
<nav transition:persist-props>
  <ul class="navbar__list">
    <li class="navbar__list--item"><a href="#aboutme">Sobre mi</a></li>
    <li class="navbar__list--item"><a href="#project">Proyectos</a></li>
    <li class="navbar__list--item"><a href="#experience">Experiencia</a></li>
  </ul>
</nav>