---

---
<nav transition:persist-props>
  <ul class="navbar__list">
    <li class="navbar__list--item"><a href=""></a></li>
    <li class="navbar__list--item"><a href=""></a></li>
    <li class="navbar__list--item"><a href=""></a></li>
    <li class="navbar__list--item"><a href=""></a></li>
    <li class="navbar__list--item"><a href=""></a></li>
    <li class="navbar__list--item"><a href=""></a></li>
  </ul>
</nav>