@font-face {
    font-family: 'Geist';
    src: url('/fonts/GeistMono-Regular.woff2') format('woff2'),
        url('/fonts/GeistMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson';
    src: url('/fonts/CrimsonPro-Regular.woff2') format('woff2'),
        url('/fonts/CrimsonPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos';
    src: url('/fonts/TiemposText-Medium.woff2') format('woff2'),
        url('/fonts/TiemposText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

