:root {
  --clr-white: #fff;
  --clr-lightgray: #666;
  --clr-gray: #333;
  --clr-black: #111;
  --clr-navbar: #20292F;
  --clr-blue: #090979;
  --clr-lightblue: #00AED1;
  --clr-darkblue: #05004A;
  --clr-green: #31c56e;
  --clr-red: #EB514E;
  --clr-orange: #FFA03B;
  --font-prim: 'Crimson';
  --font-sec: 'Geist';
  --font-ter: 'Tiempos';
}