:root {
  --clr-white: #fff;
  --clr-lightgray: #666;
  --clr-gray: #333;
  --clr-black: #111;
  --clr-navbar: #20292F;
  --clr-blue: #3644AF;
  --clr-lightblue: #1FB6EA;
  --clr-darkblue: #2A3443;
  --clr-green: #31c56e;
  --clr-red: #EB514E;
  --clr-orange: #FFA03B;
}