---
import Head from "../components/head.astro"
import Navbar from "../components/navbar.astro"
---

<!DOCTYPE html>
<html lang="es">
  <Head title="Mi portafolios" description="Portafolios personal"/>
<body>
  <Navbar />
  <slot />
</body>
</html>